@tailwind base;
@tailwind components;
@tailwind utilities;

#landing-page {
  background: url("../assets/fog-base.jpg") no-repeat center center fixed;
  background-size: cover;
}

#the-fog {
  background: url("../assets/fog2.jpg") no-repeat center center fixed;
  background-size: cover;
}

#the-library {
  background: url("../assets/fog3.jpeg") no-repeat center center fixed;
  background-size: cover;
}

/* word fog */
.word-fog {
  animation: fog-fade 3000ms;
  animation-iteration-count: infinite;
}

@keyframes fog-fade {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  50% {
    color: rgba(0, 0, 0, 1);
  }
  100% {
    color: rgba(0, 0, 0, 0);
  }
}
