@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("../assets/fog-base.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* word fog */
.word-fog {
  animation: fog-fade 3000ms;
  animation-iteration-count: infinite;
}

@keyframes fog-fade {
  0% {
    color: rgba(255, 255, 255, 0.1);
  }
  50% {
    color: rgba(0, 0, 0, 1);
  }
  100% {
    color: rgba(0, 0, 0, 0);
  }
}

/* Easter Egg */
#face-animation {
  height: auto;
  width: 400px;
  border: black 2px solid;
}